{% extends 'base.html' %}

{% block content %}

Perform CRUD on any of the following Models - <br>
Please note every product must belong to a category, so before creating a product please select a category, if the corrosponding category doesnt already exist.

<ul>
    <li>
        <a href="{% url 'inventory:cat-list' %}">Categories</a>
    </li>
    <li>
        <a href="{% url 'inventory:brand-list' %}"> Brand </a>
    </li>
    <li>
        <a href="{% url 'inventory:atb-list' %}">Attributes</a>
    </li>

    <li>
        <a href="{% url 'inventory:prod-list' %}">
        Products
        </a>
    </li>

    <li>
        <a href="{% url 'inventory:inv-list' %}">
        Product Inventory
        </a>
    </li>
</ul>

{% endblock %}