{% extends 'base.html' %}

{% block content %}

Perform CRUD on any of the following Models - 

<ul>
    <li>
        <a href="{% url 'inventory:cat-list' %}">Categories</a>
    </li>
    <li>
        <a href="{% url 'inventory:brand-list' %}"> Brand </a>
    </li>
    <li>
        <a href="{% url 'inventory:prod-list' %}">
        Products
        </a>
    </li>
    <li>
        <a href="{% url 'inventory:atb-list' %}">Attributes</a>
    </li>
    <li>
        Product Inventory
    </li>
</ul>

{% endblock %}