{% extends 'base.html' %}

{% block content %}
    
    <p>
        Please select from the following categories. <br/>
        The number in () indicates the number of products present per category.
    </p>

    <ol>
        {% for x in data %}
        {% if x.product_count %}
        <li>
            <a href="{% url 'frontend:productPage' x.slug %}">{{x.title}}</a> ({{x.product_count}})
        </li>
        {% else %}
        <li class="text-muted">
            {{x.title}} ({{x.product_count}})
        </li>
        {% endif %}
        {% endfor %}
    </ol>

    
{% endblock %}