{% extends 'base.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="{% static 'frontend/inventory.css' %}">
{% endblock %}


{% block content %}
<div class="container">

        <h3 align="center">
            {{data.product.title}}
        </h3>
        <p align="center">
            {{data.version}}
        </p>

        <br/>

        <h2>
            Specifications
        </h2>

        <div class="container box">
            <div class="left">
                <div class="card">
                    <img class="card-img-top" src="{{data.product.image.url}}" alt="{{product.version}}">            
                </div>
            </div>
            <div class="right">

                <div class="container text-center">
                    
                    <br>
                    <div class="container">
                        {% for category in categories %}
                        <a href="{% url 'frontend:productPage' category.slug %}" class="btn btn-primary"> 
                            {{category.title}} </a>
                        {% endfor %}
                    </div>
                    

                    

                </div>
                {{product.category}}
            </div>
        </div>


</div>

{% endblock %}
