{% extends 'base.html' %}

{% block content %}

<p>
    Choose from the following variants of the product {{product}}
</p>

<div class="container">

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Version </th>
            <th scope="col">Variant</th>
            <th scope="col">Custom Attribute</th>
            <th scope="col">Price </th>
        </tr>
        </thead>
        <tbody>

            {% for product in data %}
            

        <tr>
            <td> 
                <a href="{% url 'frontend:inventory' product.version %}">  
                {{ product.version }} </a> 
            </td>
            <td> {{ product.get_variant_display }} </td>
            <td> {{ product.customAttribute }} </td>
            <td> $ {{ product.price }}  </td>
        </tr>

            {% endfor %}

        </tbody>
    </table>

</div>
    


{% endblock %}